<div class="container-experience">
  <div class="ml-sm-0 mr-sm-0 row">
    <h2>{{ .Site.Data.homepage.experience.title }}</h2>
    {{ .Site.Data.homepage.experience.description | safeHTML }}
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      {{ with .Site.Data.homepage.experience.button }}
      <a
        href="{{ .URL | absURL }}"
        class="btn btn-primary btn-block"
        target="_blank"
        data-umami-event="{{ .eventName }}"
        rel="noopener noreferrer"
      >
        <i class="{{ .icon }}"></i>
        {{ .btnText }}
        <i class="icon-arrow-right"></i
      ></a>
      {{ end }}
    </div>
    <div class="col-12 col-lg-4">
      {{ with .Site.Data.homepage.experience.button2 }}
      <a
        href="{{ .URL | absURL }}"
        class="btn btn-frameless btn-block"
        target="_blank"
        data-umami-event="{{ .eventName }}"
        rel="noopener noreferrer"
      >
        <i class="{{ .icon }}"></i>
        {{ .btnText }}
      </a>
      {{ end }}
    </div>
    {{ if .Site.Data.homepage.experience.button3.btnText }}
    <div class="col-12 col-lg-4">
      <a
        href="{{ .Site.Data.homepage.experience.button3.URL | absURL }}"
        class="btn btn-frameless btn-block"
        rel="noopener noreferrer"
      >
        <i class="{{ .Site.Data.homepage.experience.button3.icon }}"></i>
        {{ .Site.Data.homepage.experience.button3.btnText }}
      </a>
    </div>
    {{ end }}
  </div>
</div>
